html(lang="en")
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Blog Website
  //link(rel="stylesheet", href="./public/css/main.css")
  style 
    include ../public/css/main.css

body
  header.header 
    nav.nav
      ul.nav-list  
        // li.nav-list-item #[a(href='/home') Home]
        li.nav-list-item #[a(href='/') Home]
        li.nav-list-item #[a(href='/about') About] 
        li.nav-list-item #[a(href='/contact') Contact] 
        li.nav-list-item #[a(href='/posts') Posts] 
        li.nav-list-item #[a(href='/compose') Compose] 

  block content

  footer.footer 
    //div.footer-text 
    p Made with ❤️ by #[strong Osman Nuri Erdogan]




    