extends layout 
block content 
  div.container
    h1.heading-secondary The number of the items is #{posts.length}
    each post in posts
      p.paragraph-secondary #[strong Title:] #{post.title} #[br] #[strong Content:] #{post.content}