extends layout 
block content 
  div.container
    h1.heading-primary #{post.title}
    h3.heading-secondary #{post.slug}
    p.paragraph-secondary #{post.content}
    a.go-home-page-button(href="/") Go Home Page